.ButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // background-image: url("../../images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  

 
}

.game-border[data-option="Paper"]{
  border: 15px solid rgb(37, 49, 221);
}
.game-border[data-option="Rock"]{
  border: 15px solid rgb(255, 187, 0);
}
.game-border[data-option="Scissors"]{
  border: 15px solid rgb(255, 47, 32);
}

.Button-wrapper {
  width: 50%;
  .game-border {
    width: auto;
    display: inline-block;
    border-radius: 50%;
  }
}

.game-icons {
  background-color: white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
  color: black;
  svg {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}