.restartGame{
    background-color: white;
    text-align: center;
    color: rgb(27, 30, 77);
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    padding: 1em;

    
}

.resultsScreen{
    h2{
        font-size: 3em;
        text-transform: uppercase;
        opacity: 0;
        animation: fadeIn 1s ease 1s 1 forwards;

    }
    .resultsIcons{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .resultsIcons__half{
            width: 50%;
            text-align: center;
            
            .Button-wrapper{
                width: auto;
            }
        }

        &__half{
            &:nth-child(1){
                opacity: 0;
                animation: fadeIn 1s ease .2s 1 forwards;
            }
            &:nth-child(2){
                opacity: 0;
                animation: fadeIn 1s ease 1s 1 forwards;
            }
        }        
    }
}

@keyframes fadeIn{
    0%{

    }
    100%{
        opacity: 1;
    }
}